.jumbotron{
    background-image: url("images/jumbotronBackground.jpeg");
    background-size: cover;
    height: 350px;
    color:#F0F0DF;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

   
}

h1{
    font-size: 200px;
    font-family: 'Merienda', cursive;
    margin: 20px;
}

body{
    background-color:#F0F0DF;
    text-align: center;
}

#footer {
    background-color: #3F5866;
    color: #FF9000;
}

.icon{
    color:#F0F0DF;
    margin: 5px;
    margin-bottom: 30px;
    color: #FF9000
}

.btn{
    background-color: #3F5866;
    width: 20%;
  padding: 10px;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
    
}


.btn:hover{
background-color: rgb(160, 160, 160);
box-shadow: 3px 3px 0 0 gray;

}

#artistBtn:active{
    background-color: #3F5866;
    box-shadow: 0 5px 0 0 #2B3A42;

}

#zipCodeBtn:active{
    background-color:#3F5866;
    box-shadow: 0 5px 0 0 #2B3A42;
    color: white;
}

#restaurantBtn:active{
    background-color:#3F5866;
    box-shadow: 0 5px 0 0 #2B3A42;
}

#ticketmaster-btn{
    background-color: #3F5866;
    width: 22%;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
  margin: 3px;
    

}

#map {
    height: 425px;
    margin: 0 75px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #origin-input,
  #destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
  }

  #origin-input:focus,
  #destination-input:focus {
    border-color: #4d90fe;
  }

  #mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
  }

  #mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
